.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}   

.account-sidenav{
    width: 220px;
    padding: 6px;
    background:  #1a1a1a;
    color:  #ffffff;
    .mat-nav-list{
        box-sizing: border-box;
        padding: 14px;
        .mat-list-item{
            height: 40px;
            font-size: 16px;
            color:  #ffffff;
        }
    }
}
   
.example-spacer {
    flex: 1 1 auto;
  }

.row{
    margin: 0%;
}



