/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~font-awesome/css/font-awesome.css";
// @import "variables";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/bootstrap-grid";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html,
// body {
// 	height:100%;
// 	width: 100%;
// }

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.txt-center{
	text-align: center;
}


.blue{
    color: #0040ff;
}

.red{
    color :#FF0000;
}